@model List<ResultCarWithBrandsDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Listesi</h4>
                        <p class="card-subtitle mb-4">
                           Arabalarla ilgili ekleme, silme, güncelleme, arama ve listeleme gibi işlemleri bu sayfa üzerinden gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Vites Türü</th>
                                        <th>Km</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Detaylar</th>
                                        <th>Özellik Ata</th>
                                        <th>Sitede Gör</th>
                                        <th>Fiyat Bilgileri</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model)
                                    {
                                        count++;
                                        <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.BrandName</td>
                                        <td>@item.Model</td>
                                        <td>@item.Transmission</td>
                                        <td>@item.Km</td>
                                        <td><a href="/AdminCar/RemoveCar/@item.CarID" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/AdminCar/UpdateCar/@item.CarID" class="btn btn-outline-success">Güncelle</a></td>
                                        <td><a href="/Admin/AdminCarFeatureDetail/Index/@item.CarID" class="btn btn-outline-dark">Detaylar</a></td>
                                        <td><a href="/Admin/AdminCarFeatureDetail/CreateFeatureByCarID" class="btn btn-outline-info">Özellik Ata</a></td>
                                        <td><a href="/CarList/CarDetail/@item.CarID" class="btn btn-outline-warning">Sitede Gör</a></td>
                                        <td><a href="/CarList/CarDetail/@item.CarID" class="btn btn-outline-secondary">Fiyat Bilgileri</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminCar/CreateCar/" class="btn btn-outline-primary">Yeni Araç Girişi</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
