@model List<ResultContactDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Gelen Mesaj Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfa üzerinden kullanıcıların iletişim kısmı aracılığıyla gönderdikleri mesajların listesinin bulunduğu sayfadır. İlgili satıra tıklayıp mesajın detayını görebilirsiniz.
                        </p>

                        <table id="basic-datatable" class="table dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Gönderen</th>
                                    <th>Konu</th>
                                    <th>EMail</th>
                                    <th>Tarih</th>
                                    <th>Mesaj</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach(var item in Model)
                                {
                                    count++;
                                    <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Email</td>
                                    <td>@item.SendDate.ToShortDateString()</td>
                                    <td>@item.Message</td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- third party js -->
<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/Admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.flash.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.print.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.select.min.js"></script>
<script src="~/Admin/plugins/datatables/pdfmake.min.js"></script>
<script src="~/Admin/plugins/datatables/vfs_fonts.js"></script>
<!-- third party js ends -->
<!-- Datatables init -->
<script src="~/Admin/assets/pages/datatables-demo.js"></script>