@model List<ResultCarPricingListWithModelDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="car-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th class="bg-primary heading">Günlük Kiralama Ücreti</th>
                                <th class="bg-dark heading">Haftalık Kiralama Ücreti</th>
                                <th class="bg-black heading">Aylık Kiralama Ücreti</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr class="">
                                    <td class="car-image"><div class="img" style="background-image:url(@item.CoverImageUrl);"></div></td>
                                    <td class="product-name">
                                        <h3>@item.Brand @item.model</h3>
                                        <p class="mb-0 rated">
                                            <span>Puanı:</span>
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star"></span>
                                            <span class="ion-ios-star"></span>
                                        </p>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="#">Bu Aracı Kiralayın</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num"><small class="currency">₺</small> @item.dailyAmount</span>
                                                <span class="per">/Günlük Fiyat</span>
                                            </h3>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="#">Bu Aracı Kiralayın</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num"><small class="currency">₺</small> @item.weeklyAmount</span>
                                                <span class="per">/Haftalık Fiyat</span>
                                            </h3>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="#">Bu Aracı Kiralayın</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num"><small class="currency">₺</small> @item.monthlyAmount</span>
                                                <span class="per">/Aylık Fiyat</span>
                                            </h3>
                                        </div>
                                    </td>
                                </tr><!-- END TR-->
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
